/**
 * theme.scss
 */

$logo-image: "/assets/img/pop-webmail-logo.png";
$login-bg-color: #22384b;
$login-div-bg-color: #1d2532;
$login-btn-text-color: #fff;
$login-btn-bg-color: #0587d2;
$login-btn-hover-bg-color: #26a7f1;
$login-footer-color: #b6c3d8;
$login-footer-a-color: #4fb6ea;
$forgot-link-color: #bccae0;
$forgot-link-hover-color: #fff;
$top-nav-bg-color: #1d2532;
$top-nav-text-color: #a3c0d5;
$navbar-toggler-border-color: #4970af;
$navbar-toggler-hover-bg-color: #4970af;
$user-nav-text-color: #a3c0d5;
$user-nav-hover-text-color: #fff;
$logged-in-color: #fff;
$logged-in-p-color: #a3c0d5;
$logged-in-border-right: solid 1px #556682;
$main-nav-text-color: #a3c0d5;
$main-nav-hover-text-color: #fff;
$main-sub-nav-text-color: #d9e7ef;
$main-sub-nav-bg-color: #0587d2;
$main-sub-nav-hover-text-color: #fff;
$main-sub-nav-hover-bg-color: #00a2ff;
$main-sub-sub-nav-text-color: #dee1e2;
$main-sub-sub-nav-bg-color: #5d666d;
$main-sub-sub-nav-hover-text-color: #000;
$main-sub-sub-nav-hover-bg-color: #86949e;
$side-nav-h5-color: #93c2e3;
$side-nav-h5-border-color: #2973a7;
$side-nav-text-color: #b7c8e2;
$side-nav-hover-text-color: #fff;
$side-sub-nav-text-color: #d9e7ef;
$side-sub-nav-bg-color: #0587d2;
$side-sub-nav-hover-text-color: #fff;
$side-sub-nav-hover-bg-color: #00a2ff;
$sub-nav-toggle-color: #fff;
$nav-on-color: #efefef;
$nav-on-span-color: #10527c;
$nav-on-span-hover-color: #1d2532;
$overview-nav-text-color: #39658a;
$overview-nav-hover-text-color: #163d61;
$overview-nav-hover-bg-color: #fff;
$overview-nav-border-color: #ddd;
$navbar-collapse-bg-color: #1d2532;
$navbar-collapse-border-top: solid 1px #343b47;
$login-error: #f78383;
$reset-header-color: #fff;

$main-text-color: #696b6c;
$main-bg-color: #efefef;
$main-link-color: #337ab7;
$sub-nav-color: #337ab7;
$sub-nav-hover-color: #154d7c;
$msg-num-color: #fff;
$msg-num-bg-color: #ec0909;
$main-content-h2-span-color: #bababa;
$table-striped-bg-color: #e9e9e9;
$table-striped-hover-bg-color: #eaf8fc;
$table-head-bg-color: #ddd;
$table-head-border-color: #ddd;
$table-subhead-bg-color: #e7e7e7;
$table-subhead-border-color: #000;